.parentbox{
    display: flex;
    border: 1px solid red;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 600px;
    align-items: center;
}
.parentbox>.items{
    width: 300px;
    background-color: red;
    
}